@CHARSET "UTF-8";

body {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;;
}

#header {
  background-color: orange;
  padding: 20px;
  margin: 20px;
}

#header h1,#header p {
  padding: 0px;
  margin: 0px;
}

#menu {
  display: inline;
  list-style: none;
  margin: -20px;
}

#menu li {
  display: inline;
}

#menu a {
  padding: 15px;
  background-color: #CAE8EA;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

#menu a:hover {
  padding: 15px;
  background-color: orange;
  text-transform: uppercase;
  color: white;
}

th {
  color: #4f6b72;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #CAE8EA no-repeat;
}

td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #fff;
  padding: 6px 6px 6px 12px;
  color: #4f6b72;
}

#main {
  padding: 20px;
}

label {
  display: block;
}

.help {
  display: block;
  color: gray;
  font-size: 0.8em;
}

fieldset {
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-top: 20px;
}

legend {
  text-transform: uppercase;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 1.2em;
}

input[type="text"] {
  font-size: 1.4em;
}

.cancel {
  padding: 15px;
  background-color: rgb(255, 255, 180);
  text-decoration: none;
  text-transform: lowercase;
  font-size: 1.1em;
  color: gray;
}

.cancel:hover {
  color: white;
  background-color: orange;
}

input[type="submit"] {
  padding: 12px;
  text-transform: lowercase;
  font-size: 1.1em;
}

#footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.INFORMATION, .WARNING,.ERROR {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 30em;
}

.INFORMATION {
  border-color: #4f6b72;
  color: #00529B;
  background-color: #CAE8EA;
  background-image: url('../images/info.png');
}

.WARNING {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../images/warning.png');
}

.ERROR {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('../images/error.png');
}