@CHARSET "UTF-8";

#header {
  padding-top: 20px;
  margin-top: 10px;
  background-color: #02243C;
}

#header h1, #header p, #header a {
  color: #F9F9F9;
}

#header h1, #header p{
  padding: 10px;
}

#header h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#header p {
  padding-top: 0px;
  padding-left: 5.7em;
}

#header a {
  text-decoration: none;
}

#menu {
  margin-top: 5px;
  padding-top: 15px;
  margin-left: -40px;
}

#forums_menu {
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 146px;
  margin-right: -90px;
}

#menu li, #forums_menu li {
  display: inline;
}

#menu a, #forums_menu a, input[type="submit"], .cancel, .action {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#menu a, #forums_menu a {
  background-color: #005DB3;
  padding: 15px 10px 15px 10px;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #F9F9F9;
}

#menu a:hover, #forums_menu a:hover {
  color: #F9F9F9;
  background-color: #5BC236;
}

input[type="text"], input[type="submit"], .cancel, .action {
  font-size: 1.6em;
}

input[type="submit"] {
  padding: 10px;
  background-color: grey;
  color: #F9F9F9;
  border: 0px;
  font-weight: normal;
}

input[type="submit"]:hover {
  color: #F9F9F9;
  background-color: #5BC236;
}

label {
  display: block;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  color: #02243C;
}

.small {
  color: grey;
  font-weight: normal;
  text-transform: none;
}

#forms h1 {
  text-transform: uppercase;
  color: grey;
}

.cancel {
  padding: 12px;
  background-color: #E6E6E6;
  text-decoration: none;
  color: grey;
  margin-left: 10px;
}

.cancel:hover {
  background-color: rgb(255, 70, 70);;
  color: #F9F9F9;
  cursor: pointer;
}

table th {
  background-color: #5195CE;
  color: #F9F9F9;
  font-size: 1.1em;
  text-transform: uppercase;
  font-stretch: wider;
}

.odd,.even {
  padding: 2px;
}

.odd {
  background-color: #F9F9F9;
}

.action {
  text-decoration: none;
  padding: 10px;
  background-color: grey;
  color: #F9F9F9;
  border: 0px;
  font-weight: normal;
}

.action:hover {
  color: #F9F9F9;
  background-color: #5BC236;
  cursor: pointer;
}

#footer {
  margin-top: 10px;
  float: left;
}

.fieldError {
  display: block;
  color: red;
  text-transform: none;
  padding: 0px;
  margin-bottom: -5px;
}

.fff {
  padding: 5px;
  margin-bottom: 10px;
  border: solid 1px #5bc236;
  border-top: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.fff h2 {
  padding: 10px;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  background-color: #5BC236;
  text-decoration: none;
}

.fff h2 a {
  text-decoration: none;
  color: #F9F9F9
}

.fff h2:hover {
  background-color: #5BA000;
  cursor: pointer;
}

.createdAt {
  margin: 0px;
  padding: 0px;
}

.description {
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: justify;
}