@CHARSET "UTF-8";

#header {
  background-color: #02243C;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#header h1, #header p, #header a {
  color: #F9F9F9;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#header p {
  padding-left: 20px;
  margin-top: 0px;
}

#header h1 { margin-bottom: 0px; }
#header a { text-decoration: none; }

#header, #menu a, #forums_menu a, input[type="submit"], .cancel, .action {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#menu { margin-left: -13px; }
#menu li, #forums_menu li { 
  display: inline;
}

#menu a, #forums_menu a {
  background-color: #005DB3;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #F9F9F9;
  padding: 10px;
  margin-top: 20px;
}

#menu a:hover, #forums_menu a:hover {
  color: #F9F9F9;
  background-color: #5BC236;
}

input[type="text"], input[type="submit"], .cancel, .action {
  font-size: 1.6em;
}

input[type="submit"] {
  background-color: grey;
  color: #F9F9F9;
  border: 0px;
  font-weight: normal;
}

input[type="submit"]:hover {
  color: #F9F9F9;
  background-color: #5BC236;
}

label {
  display: block;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  color: #02243C;
}

.small {
  color: grey;
  font-weight: normal;
  text-transform: none;
}

#forms h1 {
  text-transform: uppercase;
  color: grey;
}

.cancel {
  background-color: #E6E6E6;
  text-decoration: none;
  color: grey;
  margin-left: 10px;
}

.cancel:hover {
  background-color: rgb(255, 70, 70);;
  color: #F9F9F9;
  cursor: pointer;
}

table th {
  background-color: #5195CE;
  color: #F9F9F9;
  font-size: 1.1em;
  text-transform: uppercase;
  font-stretch: wider;
}

.odd {
  background-color: #F9F9F9;
}

.action {
  text-decoration: none;
  background-color: grey;
  color: #F9F9F9;
  border: 0px;
  font-weight: normal;
}

.action:hover {
  color: #F9F9F9;
  background-color: #5BC236;
  cursor: pointer;
}

#footer {
  float: left;
}

.fieldError {
  display: block;
  color: red;
  text-transform: none;
}

.fff {
  border: solid 1px #5bc236;
  border-top: none;
  margin-bottom: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.fff h2 {
  background-color: #5BC236;
  text-decoration: none;
}

.fff h2, .fff p { padding: 2px; }

.fff h2 a {
  text-decoration: none;
  color: #F9F9F9
}

.fff h2:hover {
  background-color: #5BA000;
  cursor: pointer;
}

.description {
  text-align: justify;
}

.createdAt { margin: 0px;}

.forum_odd {  margin-left: -2px;}
.forum_even { margin-right: -10px;}